/* App.css */
input::placeholder,
textarea::placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder,
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #918f8f !important; /* Try a dark color for testing */
  opacity: 1 !important;
}
input[type="date"] {
  color: #9b914a !important;
  background: rgba(186, 115, 170, 0.883);
  filter: brightness(0.2) invert(0);
}
input[type="date"]::placeholder {
  color: #b49774 !important;
}

select {
  background: rgba(80,80,80,0.85) !important;
  color: #2e0606 !important;
}
select option {
  color: #efe6e6 !important;
  background: #d4a4a4 !important;
}

button[type="submit"] {
  background: rgba(255,255,255,0.18);
  color: #222;
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  transition: background 0.2s;
}
button[type="submit"]:hover,
button[type="submit"]:active,
button[type="submit"]:focus {
  background: rgba(199, 35, 35, 0.28);
}
.menu-btn {
  width: 100%;
  padding: 1em;
  border-radius: 10px;
  border: none;
  background: rgba(255,255,255,0.55);
  color: #333;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  transition: background 0.2s;
  text-align: left;
}

.menu-btn:hover,
.menu-btn:focus {
  background: rgba(255,255,255,0.85);
}
