/* App.css */
input::placeholder,
textarea::placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder,
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #292929 !important; /* Try a dark color for testing */
  opacity: 1 !important;
}
input[type="date"] {
  color: #ebd630 !important;
  background: rgba(108, 12, 87, 0.18);
  filter: brightness(0.2) invert(0);
}
input[type="date"]::placeholder {
  color: #794505 !important;
}

select {
  background: rgba(80,80,80,0.85) !important;
  color: #6f1717 !important;
}
select option {
  color: #222 !important;
  background: #d4a4a4 !important;
}

button[type="submit"]:hover,
button[type="submit"]:active,
button[type="submit"]:focus {
  background: rgba(255,255,255,0.28);
}